@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

a {
    text-decoration: none;
}

.white {
    color: #ffffff !important;
}

.black {
    color: #000000 !important;
}

.grey {
    color:#808080 !important;
}

.image {
    margin-top: 8px;
    border-radius: 20px;
}

.centered {
    margin: 0 auto;
    text-align: center;
    align-content: center;
}

.root {
    flex-grow: 1;
}

.menuButton {
    margin-left: -12;
    margin-right: 20;
}

/* MEDIA QUERIES */